<div class="row">
    <div class="col col-md-8 col-xs-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <span class="panel-title">Channel: {{MessageService.currentChannel}}</span> <!-- With {{MessageService.currentChannel}} you can
                                                                                                connect this field value with the scope -->
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="message in MessageService.collection"> <!-- With ng-repeat, this code block will be created
                                                                                        for every single entry in MessageService.collection-->
                    <div class="col col-xs-10 col-xs-offset-1">
                        <div class="header">
                            <strong class="primary-font">{{message.sender}}</strong> <!-- Through ng-repeat, the variable message is available
                                                                                            for every entry. So you can get the data of every entry -->
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{message.received}}</small> <!-- Through ng-repeat, the variable message is available
                                                                                            for every entry. So you can get the data of every entry -->
                        </div>
                        <p>
                            {{message.message}} <!-- Through ng-repeat, the variable message is available
                                                        for every entry. So you can get the data of every entry -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm"
                           placeholder="Type your message here..." ng-model="input">
                    <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="send()"> <!-- With ng-click, you can connect the
                                                                                                        button with the function send(). -->
                                Send
                            </button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>