<div class="row">
    <div class="col col-md-8 col-xs-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Profil</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input required type="text" class="form-control" id="username" ng-model="profile.username">
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail:</label>
                            <input required type="email" class="form-control" id="email" ng-model="profile.email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <button type="button" class="btn btn-primary pull-right" ng-click="save()">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>