<div class="row">
    <div class="col col-md-8 col-xs-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Registration</span>
            </div>
            <div class="panel-body">
                <form name="registrationForm">
                    <div class="row">
                        <div class="col col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label for="registration_username">Username:</label>
                                <input required type="text" class="form-control" id="registration_username" ng-model="data.registration.username">
                            </div>
                            <div class="form-group">
                                <label for="registration_email">E-Mail:</label>
                                <input required type="email" class="form-control" id="registration_email" ng-model="data.registration.email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-10 col-xs-offset-1">
                            <button type="button" class="btn btn-primary pull-right" ng-disabled="registrationForm.$invalid" ng-click="register()">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Login</span>
            </div>
            <div class="panel-body">
                <form name="loginForm">
                <div class="row">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="login_username">Username:</label>
                            <input required type="text" class="form-control" id="login_username" ng-model="data.login.username">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <button type="button" class="btn btn-primary pull-right" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>