<div class="modal-header">
    <h3 class="modal-title">Erstelle einen neuen Channel</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="name">
    </div>
    <div class="form-group">
        <label for="description">Beschreibung:</label>
        <input type="text" class="form-control" id="description" ng-model="description">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>