<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

        <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nterra-logo" href="#"></a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <!--<div ng-show="profile.username">-->
                <li><a href="#" ui-sref="root.profile">Profil</a></li>
                <li uib-dropdown class="dropdown">
                    <a uib-dropdown-toggle href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Channel<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="channel in channelList">
                            <a ui-sref="root.chat({name: channel.name})">{{channel.name}}</a>
                        </li>
                        <li style="border-top: solid;">
                            <a href="#" ng-click="openCreateChannelModal()">Channel erstellen</a>
                        </li>
                    </ul>
                </li>
            <!--</div>-->
        </ul>
    </div>
</nav>